*{
	margin: 0px;
	padding: 0px;
}

.menu-desktop{
	background: #6a5acd;
	padding: 5px;
	display: block;
	width: 100vw;
}

.menu-desktop__ul{
	font-size: 18px;
	color: powderblue;
}

.menu-desktop__ul-li {
	padding: 10px;
	display: inline-block;
	color: 
}

.menu-desktop__ul-li i a{
	padding: 7px;
	text-decoration: none;
	color: powderblue;
}

.menu-desktop__ul-li i:hover> a{
	color: blue;
}

.menu-desktop__ul-li i:hover{
	color: blue;
}

.menu-responsive__contenedor{
	display: none;
}

@media only screen and (max-width: 500px){
	.menu-desktop{
		display:none;
	}

	.menu-responsive__ul{
		display: block;
		position: relative;
		top: -30vh;
		z-index: -100;
	}

	.menu-responsive__contenedor{
		background: slateblue;
		width: 100vw;
		height: 40px;
		display: block;
	}

	.menu-responsive-icono{
		margin: 12px;
	}

	.menu-responsive__contenedor:hover .menu-responsive-icono{
		transform: rotate(90deg);
		transition: all 0.1s 0.1s;
	}

	div:hover ul{
		top: 0vh;
		transition: all 0.1s 0.1s;
	}

	.menu-responsive-icono:hover{
		transform: rotate(90deg);
		transition: all 0.1s 0.1s;
	}

	.menu-responsive__ul{
		display: block;
	}

	.menu-responsive__ul{
		padding: 0px;
		margin: 1px;
		position: relative;
	}

	.menu-responsive__ul i{
		margin: 5px;
		padding: 5px;
		text-decoration: none;
		color: black; 
	}

	.menu-responsive__ul i a{
		text-decoration: none;
		color: black;
		padding: 5px;
	}

	.menu-responsive__ul-li{
		border: 1px solid white;
		border-radius: 5px;
		background: rgb(167, 161, 207);
	}

	.menu-responsive__ul-li i:hover > a{
		color: white;
	}

	.menu-responsive__ul-li i:hover{
		color: white;
	}
	
}